/* COPYRIGHT; 2018 DeathHackz - All this code belongs to me.
COPYRIGHT; 2018 Pokemon. COPYRIGHT 1995–2018 Nintendo/Creatures Inc./GAME FREAK Inc.
Pokemon, Pokemon character names and artwork are all trademarks of Nintendo.
All Pokemon related content on the Service, including artwork, graphics, logos, downloads
and other files, is the property of Pokemon and is protected by United States
and international copyrights, trademarks and other intellectual property laws. Trademarks and
copyrights for third-party games and characters are owned by the companies which market or
license those products. */

header {
    padding: 70px 0 0 !important;
    height: auto !important;
}

@media (max-width: 600px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
    }

    .info {
        text-align: center;
    }

    #pkmimg {
        width: 80% !important;
    }

    #loading {
        width: 100%;
    }
}

#pkmimg {
    width: 50%;
    max-width: 475px;
}

.divs {
    white-space: nowrap;
    text-align: center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#loading {
    vertical-align: middle;
}

#share {
	width: 100%;
  	margin: 15px auto 0;
  	text-align: center;
}

#share a {
	width: 50px;
  	height: 50px;
  	display: inline-block;
  	margin: 8px;
  	border-radius: 50%;
  	font-size: 24px;
  	color: #fff;
	opacity: 0.75;
	transition: opacity 0.15s linear;
}

#share a:hover {
	opacity: 1;
}

#share i {
  	position: relative;
  	top: 50%;
  	transform: translateY(-70%);
}

.facebook {
 	background: #3b5998;
}

.twitter {
  	background: #55acee;
}

.googleplus {
  	background: #dd4b39;
}

.pinterest {
  	background: #cb2027;
}

#legendary {
    text-shadow: 0 0 3px #FF0000, 0 0 3px #FF0000;
}
